@{
    ViewData["Title"] = "خانه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/slide1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>خدمت ۱</h5>
                <p>توضیحات کوتاه درباره خدمت ۱</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/slide2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>خدمت ۲</h5>
                <p>توضیحات کوتاه درباره خدمت ۲</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/img/slide3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>خدمت ۳</h5>
                <p>توضیحات کوتاه درباره خدمت ۳</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">قبلی</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">بعدی</span>
    </button>
</div>

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="نام خدمت یا شهر را وارد کنید...">
                <button class="btn btn-primary" type="button">جستجو</button>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- تکرار برای هر خدمت -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="~/img/service1.jpg" class="card-img-top" alt="Service 1">
                <div class="card-body">
                    <h5 class="card-title">خدمت ۱</h5>
                    <p class="card-text">توضیحات کوتاه در مورد خدمت ۱</p>
                    <a href="/Service/Details/1" class="btn btn-primary">مشاهده جزئیات</a>
                </div>
            </div>
        </div>
        <!-- تکرار تا اینجا -->
    </div>
</div>

<script>
    // اگر نیاز به انیمیشن یا عملکرد خاصی دارید، در اینجا اضافه کنید
</script>
